.orderList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0;
}
.order span {
  font-size: 30px;
}
.totalPrice {
  font-size: 25px;
  display: flex;
  justify-content: end;
}
table {
  width: 100%;
  margin: 10px;
}
table thead {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}
table tbody {
  width: 100%;
}
table tbody td {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .orderList {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .orderList {
    width: 400px;
  }
  .order p {
    font-size: 15px;
  }
  table thead td {
    font-size: 15px;
  }

  table tbody td {
    font-size: 10px;
  }
}
