.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
.detailDescription {
  display: flex;
  margin-top: 50px;
}
.detailLeft {
  width: 300px;
  margin: 0.5rem;
}
.detailLeft img {
  width: 300px;
}
.detailRight {
  width: 250px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnField {
  display: flex;
  width: 250px;
  padding: 0.5rem;
}
.btnField button {
  width: 60px;
  font-size: 30px;
  background: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btnField input {
  width: 50px;
  margin: 0 0.5rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  
  .detailDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
}
